/* @tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popup 0.4s ease-out;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafc;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}